<div style="height: 100vh; background-color:teal">
<div style="border: solid;
    border-width: 2px;
    border-bottom-color: #424242;
    border-right-color: #424242;
    border-left-color: #fff;
    border-top-color: #fff;
    background: silver;
    color: #212529;
    max-width:600px;
    margin: 0 auto;
    padding-bottom: 20px;">
    <div style="background: -webkit-linear-gradient(left,#08216b,#a5cef7);
    color: #fff;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
    padding-bottom: 1px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125)
    ">
    
        <h4>Info page</h4>
    </div>
    <div style="padding: 10px;">
<p>Input Arguments:     {{processData.args}}</p>
<p>Operative System:    {{processData.os}}</p>
<p>Node Version:        {{processData.nodeVersion}}</p>
<p>RSS:     {{processData.rss}}</p>
<p>Execution Path:      {{processData.execPath}}</p>
<p>Process ID:  {{processData.pid}}</p>
<p>Project Folder:  {{processData.path}}</p>
</div>
<a style="border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: silver;
    color: black;
    padding: 0 0 4px;
    border-radius: 1px;
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-weight:500" href="/login">Back to login</a>
</div>
 
</div>